.content__button {
    background-color: transparent;
    border: 2px solid;
    border-color: $smoky-black;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $font-size-small;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    font-family: $raleway;
}