body{
    background-color: $white;
}

.content {
    &__text {
        padding: 2rem;
    }
    &__title {
        font-family: $old-standard;
        font-size: $font-size-xx-large;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }

    &__paragraph {
        font-family: $raleway;
        color: $granite-gray;
        line-height: 1.5;
        padding-bottom: 1em;
    }

}

.header{
    background: url('../images/imagen1.png');
    height: 50vh;
    background-size: cover;
}

@media (min-width: $breakpoint-desktop) {
    .content {
        width: 40%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }


    .header{
        width: 60%;
        float: right;
        height: 100vh;
        
    }
}
